.game-info {
	padding-top: 20px;
}

.game-img-container {
	text-align: center;
}

.game-info-container {
	@extend .game-img-container
}

.game_info_btn {
	margin-bottom: 5px;
	margin-top: 5px;
	border-width: 0 0 1px 0;
	border-style: dashed;
	border-color: black;
	border-radius: 0px;
	&:hover{
		color: black;
	}
}
